*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(237, 237, 237);
}

header{
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.100);
}

.img-principal img{
    width: 100%;
}

.opcoes p {
    font-size: 1rem;
    margin: 10px;
}

.img-miniatura img{
    width: 75px;
    border: solid 3px #ee4e2e;
    margin: 0px 0 15px 15px ;
}

main{
    font-size: 1rem;
    padding: 0px 0px 0px 0px;
}

.detalhes{
    background-color: white;
    padding-bottom: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.100);
}

.detalhes a{
    text-decoration: none;
}

.detalhes span{
    color: #ee4e2e;
}

#nome-produto{
    margin: 20px 0px 0px 15px;
    padding: 15px 5px 0px 0px;
    font-size: 1rem;
}

#preco-produto{
    margin: 10px 0px 10px 15px;
    color: #ee4e2e;
    font-size: 1.5rem;
}

#estrelas{
    color: #ffC222;
    font-size: 1.3rem;
    margin: 0px 5px 0px 15px ;
}

.frete{
    margin-top: 20px;
    background-color: white;
    display: flex
    
}

.frete img{
    width: 30px;
    margin: 14px 0px 10px 15px;
    flex: 1;
}

.texto-frete{
    margin: 21px 0px 10px 15px;
    font-size: 0.7rem;
    
}

#frete-promocao{
    background-color: white;
    padding-bottom: 10px;
    padding-left: 15px;
    font-size: 1rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.100);
}

#frete-promocao > span{
    color: #ee4e2e;
}

.garantia-shopee{
    background-color:rgb(245, 245, 220);
    margin-top: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.100);
}

#titulo-garantia{
    display: flex;
}

#garantia-icon{
    background-color: beige;
    width: 20px;
    margin-left: 15px;
    margin-top: 15px;
}

#garantia-text{
    color: rgb(88, 204, 165);
    margin-left: 10px;
    margin-top: 18px;
    font-size: 1rem;
}

#paragrafo-garantia{
    font-size: 0.8rem;
    padding: 15px;
}

.loja{
    background-color: white;
    margin-top: 15px;
    padding: 15px;
    display: flex;
    
}

#topo-loja{
    display: flex;
}

#perfil{
    width: 70px;
    border-radius: 100%;
    border: solid 1px gray;
    margin: auto 0px auto 0px;
}

#nome-loja{
    margin: auto 20px auto 15px;
    font-size: 0.8rem;
}

#ver-loja{
    border: solid 2px #ee4e2e;
    border-radius: 7px;
    color: #ee4e2e;
    margin: auto 10px auto 0px;
    padding: 8px;
    font-size: 0.9rem;
}

#ver-loja a{
    text-decoration: none;
    color:#ee4e2e;
}

.avaliacao-loja{
    display: flex;
    font-size: 0.6rem;
    justify-content: space-between;
    padding: 0px 15px 0px 15px;
    background-color: white;
    padding-bottom: 15px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.100);
}

.avaliacao-loja span{
    color: #ee4e2e;
}

.descricao{
    background-color: white;
    margin-top: 15px;
    padding-top: 20px;
    padding-left: 25px;
    padding-bottom: 50px;
    font-size: 0.9rem;
}

.descricao span{
    font-size: 1.4rem;
}

.conteiner {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}



#esquerdo{
    background-color:rgb(88, 204, 165);
    box-sizing: border-box;
    color: white;
    width: 50%;
    padding: 20px 0px 20px 40px;
}

#esquerdo a{
    text-decoration: none;
    color: white;
}

#direito{
    background-color: #ee4e2e;
    box-sizing: border-box;
    color: white;
    width: 50%;
    padding: 20px 0px 20px 30px;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.100);
}

#direito a{
    text-decoration: none;
    color: white;
    text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.100);
}


